@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "DM Sans", sans-serif;
    --font-display: "Syne", sans-serif;
    --default-font-family: "DM Sans", sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4 {
        font-family: "Syne", sans-serif;
    }
}
